<div class="signin-container">
	<h1 class="heading">Welcome</h1>

	<div class="providers-list">
		<%= link_to('/auth/twitter') do %>
		<div class="list-item twitter">
			<span class="icon"></span>
			Sign in with Twitter
		</div>
		<% end %>
	</div>
</div>