$base-color: #ffffff;
  $base-body: #404040;

$primary-color: #d45e5e;
  $primary-body: #ffffff;
  $primary-heading: #ffffff;

$secondary-color: #373737;
  $secondary-body: #ffffff;


/*body {
  background-color: #ccc;
}*/