/***** Font and Paragraph *****/
.tight { line-height: 1.25em; }
.normal { line-height: 1.5em; }
.loose { line-height: 2em; }


/***** Links *****/
.secondary-link {
	color: $secondary-link-color;
	&:hover {
		color: $secondary-link-hover-color;
	}
}

/***** Mixins *****/
@mixin border-radius($args) {
	-webkit-border-radius: $args;
	   -moz-border-radius: $args;
	    -ms-border-radius: $args;
	     -o-border-radius: $args;
	        border-radius: $args;
}

@mixin text-shadow($args) {
	-webkit-text-shadow: $args;
	   -moz-text-shadow: $args;
	    -ms-text-shadow: $args;
	     -o-text-shadow: $args;
	        text-shadow: $args;
}