<div class="header">
  <div class="container">
  	<!--Right Rail-->
  	<div class="session-container">
  		<% if current_user %>
				Hi, <%= current_user.name %>
			  (<%= link_to "Sign out", signout_path, class:"link" %>)
			<% else %>
			  <%= link_to "SIGN IN", signin_path, class:"link"%>
			<% end %>
  	</div>
  </div>
</div>